# Web 管理密码
WEB_PASSWORD=adm1n5

# Web 登录认证签名密钥，建议使用随机字符串
WEB_AUTH_SECRET=replace_with_your_random_string

# 服务监听端口
PORT=3232

# Alist 服务配置示例
# ALIST_URL=http://10.88.202.73:5244
# ALIST_BASE_PATH=/学生目录/log
# ALIST_USERNAME=keylogger_server
# ALIST_PASSWORD=114514
